<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.ClueMapper">
    <resultMap id="clue" type="com.simplify.model.vo.ClueVO">
        <id property="id" column="id"/>
        <result property="customerName" column="customer_name"/>
        <result property="enterprise" column="enterprise"/>
        <result property="department" column="department"/>
        <result property="position" column="position"/>
        <result property="genders" column="genders"/>
        <result property="birthday" column="birthday"/>
        <result property="mobilePhone" column="mobile_phone"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="remark" column="remark"/>
        <result property="clueState" column="clue_state"/>
        <result property="clueSourceId" column="clue_source_id"/>

        <association property="user" column="user_id" select="com.simplify.mapper.UserMapper.selectByPrimaryKey"></association>

        <association property="createUser" column="create_user_id" select="com.simplify.mapper.UserMapper.selectByPrimaryKey"> </association>

        <collection property="clueTasks" column="clue_id" ofType="com.simplify.model.entity.ClueTask">
            <id column="id" property="id"/>
            <result column="task_finish_time" property="taskFinishTime" />
        </collection>
    </resultMap>

    <select id="getAllClue" resultMap="clue">
         select * from TB_CLUE c left join TB_SOURCE s on c.CLUE_SOURCE_ID = s.ID left join TB_CLUE_TASK ct on c.id = ct.clue_id
    </select>
</mapper>