<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.ContractMapper">
<resultMap id="ContractAndCustomerAndCustomer" type="com.simplify.model.dto.ContractVO">
    <id property="id" column="id"/>
    <result property="contractName" column="CONTRACT_NAME"/>
    <result property="contractCode" column="CONTRACT_CODE"/>
    <result property="totalMoney" column="TOTAL_MONEY"/>
    <result property="startTime" column="START_TIME"/>
    <result property="endTime" column="END_TIME"/>
    <result property="contractState" column="CONTRACT_STATE"/>
    <result property="contractDate" column="CONTRACT_DATE"/>

    <association property="userVO" javaType="com.simplify.model.dto.UserVO">
        <id property="id" column="id"/>
        <result property="username" column="USERNAME"/>
    </association>

    <association property="customerVO" javaType="com.simplify.model.dto.CustomerVO">
        <id property="id" column="id"/>
        <result property="companyName" column="COMPANY_NAME"/>
    </association>
</resultMap>

    <select id="listContractById" resultMap="ContractAndCustomerAndCustomer" parameterType="String">
        select co.CONTRACT_NAME,co.CONTRACT_CODE,cu.COMPANY_NAME,co.TOTAL_MONEY,co.START_TIME,co.END_TIME,co.CONTRACT_STATE,u.USERNAME
        from TB_CONTRACT co inner join TB_CUSTOMER cu on co.COSTOMER_ID = cu.id
        inner join TB_USER u on co.PRINCIPAL_ID = u.ID where u.id = #{id}
    </select>

    <select id="listContract" resultMap="ContractAndCustomerAndCustomer">
        select co.CONTRACT_NAME,co.CONTRACT_CODE,cu.COMPANY_NAME,co.TOTAL_MONEY,co.START_TIME,co.CONTRACT_DATE,
        co.END_TIME,co.CONTRACT_STATE,u.USERNAME,co.CONTRACT_DATE
        from tb_contract co inner join TB_CUSTOMER cu on co.COSTOMER_ID = cu.id
        inner join TB_USER u on co.CREATOR_ID = u.ID
    </select>

    <delete id="deleteContractByContractCode" parameterType="String">
        delete from TB_CONTRACT where CONTRACT_CODE = #{contractCode}
    </delete>
</mapper>