<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.ContractMapper">
<resultMap id="ContractAndCustomerAndCustomer" type="com.simplify.model.entity.Contract">
    <id property="id" column="id"/>
    <result property="contractName" column="CONTRACT_NAME"/>
    <result property="contractCode" column="CONTRACT_CODE"/>
    <result property="totalMoney" column="TOTAL_MONEY"/>
    <result property="startTime" column="START_TIME"/>
    <result property="endTime" column="END_TIME"/>
    <result property="contractState" column="CONTRACT_STATE"/>
    <result property="contractDate" column="CONTRACT_DATE"/>

    <association property="user" javaType="com.simplify.model.entity.User">
        <id property="id" column="id"/>
        <result property="username" column="USERNAME"/>
    </association>

    <association property="customer" javaType="com.simplify.model.entity.Customer">
        <id property="id" column="id"/>
        <result property="companyName" column="COMPANY_NAME"/>
    </association>
</resultMap>

    <select id="listContractById" resultMap="ContractAndCustomerAndCustomer" parameterType="Long">
        select co.ID,co.CONTRACT_NAME,co.CONTRACT_CODE,cu.COMPANY_NAME,co.TOTAL_MONEY,co.START_TIME,co.END_TIME,co.CONTRACT_STATE,u.USERNAME
        from TB_CONTRACT co inner join TB_CUSTOMER cu on co.COSTOMER_ID = cu.id
        inner join TB_USER u on co.PRINCIPAL_ID = u.ID where u.id = #{id}
    </select>

    <select id="listContract" resultMap="ContractAndCustomerAndCustomer">
        select co.CONTRACT_NAME,co.CONTRACT_CODE,cu.COMPANY_NAME,co.TOTAL_MONEY,co.START_TIME,co.CONTRACT_DATE,
        co.END_TIME,co.CONTRACT_STATE,u.USERNAME,co.CONTRACT_DATE
        from tb_contract co inner join TB_CUSTOMER cu on co.COSTOMER_ID = cu.id
        inner join TB_USER u on co.CREATOR_ID = u.ID
    </select>

    <delete id="deleteContractByContractCode" parameterType="String">
        delete from TB_CONTRACT where CONTRACT_CODE = #{contractCode}
    </delete>

    <update id="updateContract" parameterType="com.simplify.model.dto.ContractVO">
        update tb_contract
        <trim prefix="set" suffixOverrides=",">
            <if test="moneyUnit!=null">MONEY_UNIT=#{moneyUnit},</if>
            <if test="totalMoney!=null">TOTAL_MONEY=#{totalMoney},</if>
            <if test="contractContents!=null">CONTRACT_CONTENTS=#{contractContents},</if>
            <if test="remark!=null">REMARK=#{remark},</if>
            <if test="contractType!=null">CONTRACT_TYPE=#{contractType},</if>
            <if test="paymentMethod!=null">PAYMENT_METHOD=#{paymentMethod},</if>
            <if test="contractState!=null">CONTRACT_STATE=#{contractState},</if>
            <if test="contractParticipant!=null">CONTRACT_PARTICIPANT=#{contractParticipant},</if>
        </trim>
        where CONTRACT_CODE=#{contractCode}
    </update>

    <insert id="insertContract" parameterType="com.simplify.model.dto.ContractVO">
        insert into tb_contract values (
        #{id},#{contractCode},#{contractName},#{contractDate},#{startTime},#{endTime},#{moneyUnit},#{totalMoney},
        #{contractContents},#{remark},#{commercialOpportunityId},#{costomerId},#{linkmanId},#{contractType},#{paymentMethod},
        #{contractState},#{contractParticipant},#{secondPartyId},#{firstPartyId},#{creatorId},#{principalId},#{followTime}
        )
    </insert>

    <select id="getContractByCode" resultType="com.simplify.model.dto.ContractVO" parameterType="String">
        select * from tb_contract where CONTRACT_CODE = #{code}
    </select>
</mapper>