<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.DeptMapper">
    <!--<resultMap id="deptAuthorizeDTO" type="DeptVO">-->
        <!--<id property="id" column="id"/>-->
        <!--<result property="deptName" column="dept_name"/>-->
        <!--<result property="enterpriseId" column="enterprise_id"/>-->
        <!--<result property="describe" column="describe"/>-->
        <!--<result property="createTime" column="create_Time"/>-->
        <!--<result property="pid" column="pid"/>-->
    <!--</resultMap>-->
    <resultMap id="deptAuthorizeDTO" type="DeptVO">
        <id property="id" column="id"/>
        <result property="deptName" column="dept_name"/>
        <result property="enterpriseId" column="enterprise_id"/>
        <result property="describe" column="describe"/>
        <result property="createTime" column="create_Time"/>
        <result property="pid" column="pid"/>
        <collection property="children" column="id" select="findAll" />
    </resultMap>



    <update id="updateByDeptId" parameterType="com.simplify.model.dto.DeptVO">
        UPDATE PERSUASIBLE.tb_department
        <set>
            <if test="deptName!=null">
                dept_name = #{deptName},
            </if>
            <if test="enterpriseId!=null">
                enterprise_id = #{enterpriseId},
            </if>
            <if test="describe!=null">
                describe = #{describe}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByDeptId" parameterType="com.simplify.model.dto.DeptVO">
        DELETE FROM PERSUASIBLE.TB_DEPARTMENT WHERE id = #{id}
    </delete>

    <insert id="insertDept" parameterType="com.simplify.model.dto.DeptVO">
		insert into PERSUASIBLE.TB_DEPARTMENT(id,dept_name,DESCRIBE,ENTERPRISE_ID,CREATE_TIME,pid) values(#{id},#{deptName},#{describe},1,SYSDATE,#{pid})
    </insert>

    <select id="listDeptUser" resultMap="deptAuthorizeDTO">
        SELECT * FROM (SELECT ROWNUM rownum_,d.id,d.DEPT_Name,d.DESCRIBE,d.ENTERPRISE_ID,d.pid,d.create_time FROM PERSUASIBLE.TB_DEPARTMENT d
        where ROWNUM &lt;= #{size} order by d.id desc,d.dept_name desc) table_alias where table_alias.rownum_ &gt; #{start}
             <if test="deptname != null and deptname!= ''">
                <bind name="deptname" value="'%'+deptname+'%'"/>
                and table_alias.dept_name like #{deptname}
            </if>
            <if test="oldDate != null and newDate!=null">
                and  create_Time between to_date(#{oldDate},'yyyy-MM-dd HH24:MI:SS') and to_date(#{newDate},'yyyy-MM-dd HH24:MI:SS')
            </if>
        <!-- &lt;=  小于等于 -->
        <!-- &gt;= 大于于等于 -->
        order by table_alias.id
    </select>

    <select id="selectCounts" resultType="int">
        select count(*) from PERSUASIBLE.TB_DEPARTMENT
        <where>
            <if test="deptname != null and deptname!= ''">
                <bind name="deptname" value="'%'+deptname+'%'"/>
                and dept_name like #{deptname}
            </if>
            <if test="oldDate != null and newDate!=null">
                and create_Time between to_date(#{oldDate},'yyyy-MM-dd HH24:MI:SS') and to_date(#{newDate},'yyyy-MM-dd HH24:MI:SS')
            </if>
        </where>
    </select>

    <select id="findAll" resultMap="deptAuthorizeDTO">
          SELECT id,dept_name,describe,pid,create_time FROM PERSUASIBLE.TB_DEPARTMENT <where>
        <if test="id == null">
           and pid is null
        </if>
        <if test="id != null">
            and pid = #{id}
        </if>
    </where>
    </select>

</mapper>