<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.MenuMapper">
    <resultMap id="routeDTO" type="RouteDTO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="path" column="path"/>
        <result property="hidden" column="hidden"/>
        <result property="component" column="component"/>
        <result property="icon" column="icon"/>
        <result property="title" column="title"/>
        <result property="permission" column="permission"/>
        <collection property="children" ofType="RouteDTO" select="listRouteDTO"/>
    </resultMap>
    <select id="listRouteDTO" resultMap="routeDTO">
        select id,name ,path,hidden,component,icon,title,permission from tb_menu <where>
        <if test="id == null">
            parent_id is NULL
        </if>
        <if test="id != null">
            parent_id = #{id}
        </if>
    </where>
    order by sort asc
    </select>
</mapper>