<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.ResourceMapper">
    <select id="listResourceByUserId" resultType="Resource">
        select res.id,resource_name,url,resource_code from tb_user usr
        left join tb_user_role user_role on usr.id = user_role.user_id
        left join tb_role role on role.id = user_role.role_id
        left join tb_role_resource role_resource on role_resource.role_id = role.id
        join tb_resource res on res.id = role_resource.resource_id
        where usr.id = #{id}
    </select>

    <insert id="insertRoleOfResource">
            MERGE INTO  TB_ROLE_RESOURCE role_resource
            USING (select #{roleId}  role_id, #{resourceId} resource_id from dual) t2
            on (role_resource.role_id=t2.role_id and role_resource.resource_id = t2.resource_id)
            WHEN NOT MATCHED  THEN insert values(#{id},t2.role_id, t2.resource_id)
    </insert>

    <delete id="removeRoleOfResource">
        delete from tb_role_resource <where>
        <if test="resourceIds != null and resourceIds.size>0">
          and resource_id not in <foreach collection="resourceIds" item="resourceId" open="(" separator="," close=")">
            #{resourceId}
          </foreach>
        </if>
        and role_id = #{roleId}
    </where>
    </delete>
</mapper>