<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.RoleMapper">
    <resultMap id="roleAuthorize" type="RoleAuthorizeVO">
        <id column="role_id" property="id"/>
        <result property="roleName" column="role_name"/>
        <result property="roleDescribe" column="role_describe"/>
        <result property="createTime" column="create_time"/>
       <!-- <collection property="menus" ofType="Long">
            <result  column="menu_id"/>
        </collection>
        <collection property="sources" column="role_id" ofType="String" select="listResourceId">
            <result column="id"/>
        </collection>-->
    </resultMap>

    <select id="listRoleAuthorize" resultMap="roleAuthorize">
        select * from (select * from (select rownum row_num,role.id role_id,role.role_name,role.role_describe,
        role.create_time from PERSUASIBLE.tb_role role
        <where>
            <if test="roleName != null and roleName!= ''">
                <bind name="roleName" value="'%'+roleName+'%'"/>
                and role.role_name like #{roleName}
            </if>
        </where>
        ) role where role.row_num &gt; #{start}) role where role.row_num &lt;#{size}
    </select>

    <select id="selectCounts" resultType="int">
        select count (*) from PERSUASIBLE.tb_role
    </select>



    <select id="listResourceId" resultType="Long">
        select res.id from tb_role_resource role_resource join tb_resource res
        on role_resource.resource_id = res.id where role_resource.role_id = #{roleId}
    </select>
</mapper>