<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.UserMapper">
    <resultMap id="userAuthorizeDTO" type="UserAuthorizeDTO">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="username" column="username"/>
        <result property="genders" column="genders"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="deptId" column="dept_id"/>
        <result property="userState" column="user_state"/>
        <collection property="roles"  ofType="String" >
            <result column="role_name"/>
        </collection>
    </resultMap>
    <resultMap id="userAndDeptDTO" type="UserAndDeptDTO">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="genders" column="genders"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="deptId" column="dept_id"/>
        <result property="userState" column="user_state"/>
        <collection property="depts"  ofType="String" >
            <result column="dept_name"/>
            <result column="enterprise_id"/>
            <result column="describe"/>
        </collection>
    </resultMap>
    <select id="findUserAndRoleByUserId" resultMap="userAuthorizeDTO">
        select usr.id,usr.account,usr.username,usr.genders,usr.phone,usr.job,
        usr.dept_id,usr.user_state,rol.role_name
        from tb_user usr
        join tb_user_role usr_rol on usr.id = usr_rol.user_id
        join tb_role rol on rol.id = usr_rol.role_id where usr.id = #{id}
    </select>
    <select id="findUserAndDeptDeptId" resultMap="userAndDeptDTO">
        select *from PERSUASIBLE.tb_User u inner join PERSUASIBLE.TB_DEPARTMENT d on u.dept_id=d.id
    </select>
    <update id="updateById" parameterType="userAuthorizeDTO">
        UPDATE PERSUASIBLE.tb_user
        <set>
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="genders!=null">
                genders = #{genders},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="job!=null">
                job = #{job},
            </if>
            <if test="deptId!=null">
                dept_id = #{deptId}
            </if>
            <if test="user_State!=null">
                user_State = #{userState}
            </if>
        </set>
         WHERE id = #{id}
    </update>
    <insert id="insertUser" parameterType="userAuthorizeDTO" >
        insert into PERSUASIBLE.tb_User(id,account,username,password,genders,phone,job,dept_id,user_state) values(#{id},#{account},#{username},#{password},#{genders},#{phone},#{job},#{deptId},1)
    </insert>
</mapper>