<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simplify.mapper.UserMapper">
    <resultMap id="userAuthorizeDTO" type="UserAuthorizeDTO">
        <id property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="username" column="username"/>
        <result property="genders" column="genders"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="deptId" column="dept_id"/>
        <result property="userState" column="user_state"/>
        <collection property="roles"  ofType="String" >
            <result column="role_name"/>
        </collection>
    </resultMap>
    <resultMap id="userAndDeptDTO" type="UserAndDeptDTO">
        <id property="id" column="user_id"/>
        <result property="account" column="account"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="genders" column="genders"/>
        <result property="phone" column="phone"/>
        <result property="job" column="job"/>
        <result property="deptId" column="dept_id"/>
        <result property="userState" column="user_state"/>
        <collection property="depts"   ofType="DeptVO" >
            <result property="deptName" column="dept_name"/>
            <result property="createTime" column="create_Time"/>
            <result property="pid" column="pid"/>
            <result property="enterpriseId" column="enterprise_id"/>
            <result property="describe" column="describe"/>
    </collection>
    <collection property="roleIds" column="user_id" select="selectByUserId">
        <result column="role_id"/>
    </collection>
    </resultMap>
    <resultMap id="userRoleVO" type="UserRoleVO">
        <id property="id" column="id"/>
        <result property="troleId" column="trole_Id"/>
        <result property="roleId" column="role_Id"/>
        <result property="roleName" column="role_Name"/>
    </resultMap>
    <!--权限-->
    <select id="selectRoleName" resultMap="userRoleVO">
        select u.id as user_id,tr.id as trole_id,r.id as role_id,r.role_name
        from PERSUASIBLE.tb_user u join PERSUASIBLE.tb_user_role tr on u.id = tr.user_id
        join PERSUASIBLE.tb_role r on r.id=tr.role_id
        where u.id=#{id} and tr.role_id=#{roleId}
    </select>
<!--权限结束-->
    <select id="findUserAndRoleByUserId" resultMap="userAuthorizeDTO">
        select usr.id,usr.account,usr.username,usr.genders,usr.phone,usr.job,
        usr.dept_id,usr.user_state,rol.role_name
        from tb_user usr
        join tb_user_role usr_rol on usr.id = usr_rol.user_id
        join tb_role rol on rol.id = usr_rol.role_id where usr.id = #{id}
    </select>

    <delete id="deleteByUserId" parameterType="com.simplify.model.dto.UserAndDeptVO">
        DELETE FROM PERSUASIBLE.tb_User WHERE id = #{id}
    </delete>

    <select id="selectByName" parameterType="java.lang.String" resultType="com.simplify.model.dto.UserAndDeptVO">
        select *from PERSUASIBLE.tb_user where account = #{account}
    </select>

    <update id="updateByUserId" parameterType="com.simplify.model.dto.UserAndDeptDTO">
        UPDATE PERSUASIBLE.tb_user
        <set>
            <if test="account!=null">
                account = #{account},
            </if>
            <if test="username!=null">
                username = #{username},
            </if>
            <if test="genders!=null">
                genders = #{genders},
            </if>
            <if test="phone!=null">
                phone = #{phone},
            </if>
            <if test="job!=null">
                job = #{job},
            </if>
            <if test="deptId!=null">
                dept_id = #{deptId}
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateByState" parameterType="com.simplify.model.dto.UserAndDeptDTO">
        UPDATE PERSUASIBLE.tb_user
        <set>
            <if test="userState!=null">
                user_State = #{userState},
            </if>
        </set>
        WHERE id = #{id}
    </update>

    <select id="listUserAndDept" resultMap="userAndDeptDTO">
        select * from (select row_.*,rownum rownum_ from (
        select bb.* from(select bw.id as user_id,bw.ACCOUNT,bw.username,bw.job,bw.genders,bw.dept_id,bw.phone,bw.USER_STATE,bwm.id,bw.password,bwm.pid,
        bwm.DEPT_Name,bwm.DESCRIBE,bwm.ENTERPRISE_ID from PERSUASIBLE.tb_User bw inner join PERSUASIBLE.TB_DEPARTMENT bwm on bw.dept_id=bwm.id
        <where>
            <if test="deptname != null and deptname!= ''">
                <bind name="deptname" value="'%'+deptname+'%'"/>
                and bwm.dept_name like #{deptname}
            </if>
            <if test="username != null and username!= ''">
                <bind name="username" value="'%'+username+'%'"/>
                and bw.username like #{username}
            </if>
            <if test="enabled != null and enabled!= ''">
                <bind name="enabled" value="'%'+enabled+'%'"/>
                and bw.user_State like #{enabled}
            </if>
            <if test="pid != null and pid!= ''">
                <bind name="pid" value="'%'+pid+'%'"/>
                and bwm.pid like #{pid}
            </if>
        </where>
        )
        bb order by bb.username desc ,bb.user_id desc)row_  where rownum &lt;= #{size})r where rownum_ &gt; #{start}

    </select>

    <select id="selectCounts" resultType="int">
        select count(*) from PERSUASIBLE.tb_User u inner join PERSUASIBLE.TB_DEPARTMENT d on u.dept_id=d.id
            <if test="deptname != null and deptname!= ''">
                <bind name="deptname" value="'%'+deptname+'%'"/>
                and d.dept_name like #{deptname}
            </if>
            <if test="enabled != null and enabled!= ''">
                <bind name="enabled" value="'%'+enabled+'%'"/>
                and u.user_State like #{enabled}
            </if>
            <if test="username != null and username!= ''">
                <bind name="username" value="'%'+username+'%'"/>
                and u.username like #{username}
            </if>
            <if test="pid != null and pid!= ''">
                <bind name="pid" value="'%'+pid+'%'"/>
                and d.pid like #{pid}
            </if>
    </select>

    <select id="selectByUserId" resultType="String">
		select role_id from tb_user_role where user_id = #{userId}
    </select>
    <insert id="insertUser" parameterType="UserAndDeptVO" >
        insert into PERSUASIBLE.tb_User(id,account,username,password,genders,phone,job,dept_id,user_state) values(#{id},#{account},#{username},#{password},#{genders},#{phone},#{job},#{deptId},#{userState})
    </insert>

    <update id="updateCodeById" parameterType="com.simplify.model.dto.UserAndDeptDTO">
        update PERSUASIBLE.tb_user set password=#{password}  where id=#{id}
    </update>

    <update id="updateUserRole">
        MERGE INTO  tb_user_role user_role
            USING (select #{userId}  userId, #{roleId} roleId from dual) t2
            on (user_role.role_id=t2.roleId and user_role.user_id = t2.userId)
            WHEN NOT MATCHED  THEN insert values(#{id},t2.userId, t2.roleId)
    </update>

    <delete id="deleteUserRole">
        delete tb_user_role where user_id = #{id} and
        role_id not in <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
        #{roleId}
        </foreach>
    </delete>
</mapper>